<footer class="footer">
    <div class="container container-footer">
      <div class="row">
        <div class="col-xs-12 col-lg-4">
          <a class="footer-logo" href="{{site.prefix}}/">
            <img src="{{site.prefix}}/assets/ric_logo_white_155px.png" />
          </a>
          <a class="button" href="{{site.prefix}}/install">DOWNLOAD NOW</a>
        </div>
        <div class="col-xs-12 col-lg-8">
          <div class="row">
            <div class="col">
              <h4>AMERICAS</h4>
              <p>
                Southwest Research Institute<br>
                6220 Culebra Road<br>
                San Antonio, TX 78238-5166<br>
                USA
              </p>
            </div>
            <div class="col">
              <h4>EUROPE</h4>
              <p>
                Fraunhofer IPA <br>
                Nobelstr. 12 <br>
                70569 Stuttgart <br>
                Germany
              </p>
            </div>
            <div class="col">
              <h4>ASIA</h4>
              <p>
                ARTC <br>
                1 Fusionopolis Way, #20-10 <br>
                Connexis North Tower<br>
                Singapore 138632
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 footer-last-link">
          <a href="#">Edit website on <span class="color-blue">Github</span></a>
        </div>
      </div>
    </div>
  </footer>