<footer class="footer">
    <div class="container container-footer">
      <div class="row">
        <div class="col-xs-12 col-lg-4">
          <a class="footer-logo" href="/">
            <img src="/assets/ric_logo_white.png" />
          </a>
          <a class="button" href="/install">DOWNLOAD NOW</a>
        </div>
        <div class="col-xs-12 col-lg-8">
          <div class="row">
            <div class="single-footer-navigation">
              <h4>ABOUT</h4>
              <ul>
                <li>
                  <a href="#">History</a>
                </li>
                <li>
                  <a href="#">Mission</a>
                </li>
                <li>
                  <a href="#">People</a>
                </li>
                <li>
                  <a href="#">Citations</a>
                </li>
              </ul>
            </div>
            <div class="single-footer-navigation">
              <h4>MEMBERSHIP</h4>
              <ul>
                <li>
                  <a href="#">Current Members</a>
                </li>
                <li>
                  <a href="#">Americas</a>
                </li>
                <li>
                  <a href="#">Europe</a>
                </li>
                <li>
                  <a href="#">Asia & Pacific</a>
                </li>
              </ul>
            </div>
            <div class="single-footer-navigation">
              <h4>DEVELOPERS</h4>
              <ul>
                <li>
                  <a href="#">Github</a>
                </li>
                <li>
                  <a href="#">Ressources</a>
                </li>
                <li>
                  <a href="#">Projects</a>
                </li>
                <li>
                  <a href="#">Roadmap</a>
                </li>
              </ul>
            </div>
            <div class="single-footer-navigation">
              <h4>INDUSTRIAL SUPPORT</h4>
              <ul>
                <li>
                  <a href="#">Technical Support</a>
                </li>
                <li>
                  <a href="#">Maintenance</a>
                </li>
                <li>
                  <a href="#">Training</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 footer-last-link">
          <a href="#">Edit website on <span class="color-blue">Github</span></a>
        </div>
      </div>
    </div>
  </footer>