.homepage-header {
    .homepage-header-image {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/header-image.jpg');
        width: 100%;
        height: 500px;
        background-size: cover;
    }
    .homepage-header-text {
        max-width: 80%;
        text-align:right;
        margin: 0 auto;
        
        h1 {
            color: #fff;
        }

        p {
            color:#fff;
        }

    }
}
.homepage {
    min-height: 50px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    .homepage-text {
        margin: 50px auto;
        text-align: center;
    }
    .homepage-event {
        margin: 50px auto;
        text-align: left;
    }

    .homepage-services {
        margin: 0px auto;
        text-align: center;
    }

    .homepage-title {
        margin: 50px auto 0px;
        text-align: center;
    }
    .member-logo {
        width: 128px;
        height: 128px;
        object-fit: contain;
        padding: 20px 20px 20px 20px;
    }
    .ros-i-icons {
        height: 200px;
        width: 200px;
        object-fit: contain;
    }
    .embed-responsive {
        width: 100%;
        padding-top: 56.25%;
        position: relative;
    }
    .embed-responsive-item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    h2 {
        padding-bottom: 40px;
    }
    h3 {
        color: #fff;
    }
    h5 {
        color: #fff;
    }
}
