---
layout: page
slug: developers/ressources
title: Ressources
---
<p style="margin-bottom: 50px;">This site contains links to useful slides, repositories and videos.</p>

<h3 style="margin-top: 50px;"> Developer Material </h3>
<div class="row align-items-stretch">
    <div class="col-4 d-flex align-items-stretch">
        <div class="card" >
        <img src="../../assets/images/application.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">3D Camera Survey </h5>
            <p class="card-text">
            A comprehensive list of 3D cameras including their characteristics, that can be used with ROS.
            </p>
            <a class="button" href="#">Link</a>
        </div>
        </div>
    </div>
        <div class="col-4 d-flex align-items-stretch">
        <div class="card" >
        <img src="../../assets/images/application.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Training Material</h5>
            <p class="card-text">
            The complete materials of the ROS-Industrial Consortium America's Training.
            </p>
            <a class="button" href="https://industrial-training-master.readthedocs.io/en/foxy/">Link</a>
        </div>
        </div>
    </div>
</div>

<h3 style="margin-top: 50px;"> Event Material </h3>
<p>Materials of past events, that are openly available. These are typically slide decks or videos.</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      {% for ressource in site.ressources reversed %}
      <tr class="align-middle">
        <td>
          <h5>{{ ressource.title }}</h5>
        </td>
        <td>
          <h5>{{ ressource.date | date: "%Y-%m-%d" }}</h5>
        </td>
        <td>
          {% if ressource.type == "slides" %}
            <img src="../../assets/icons/Icon_Slides.png" height="50px"/>
          {% elsif ressource.type == "videos" %}
            <img src="../../assets/icons/Icon_Videos.png" height="50px"/>
          {% endif %}
        </td>
        <td>
          <a class="button" href="{{ ressource.link }}">Link</a>
        </td>        
      </tr>
      {% endfor %}
    </tbody>
</table>
