{% include default.html %}

<body>
    {% include nav-bar.html %}
    <div class="container container-post page">
    <div class="row post-headline">
        <div class="col-4">
            <div class="blog-image-wrapper">
                {% if page.media_type == 'video' %}
                <iframe
                    style="width:100%;"
                    height="315"
                    src="{{ page.media_link }}"
                    frameborder="0"
                    allowfullscreen
                ></iframe>
                {% elsif page.media_type == 'image' %}
                <div class="blog-image-wrapper">
                <img src="{{page.media_link}}" alt="image"/>
                </div>
                {%- else -%} 
                <div class="blog-image-wrapper">
                <img src="/assets/ric_logo.png" alt="image"/>
                </div>
                {% endif %}  
            </div>
        </div>
        <div class="col-8">
            <h1 style="margin-bottom: 10px;">{{page.title}}</h1>
            <p style="margin-bottom: 50px;">By {{page.author}}, {{ page.date | date: '%B %d, %Y'}}</p>
        </div>
    </div>
        {{ content }}

    </div>
</body>
{% include footer.html %}